<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Термин</th>
      <th>Описание</th>
      <th>Действия</th>
    </tr>
  </thead>
  <tr *ngFor="let term of terms">
    <td>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="">
        </label>
      </div>
    </td>
    <td>{{term.originalString}}</td>
    <td>{{term.description}}</td>
    <td>
      <div class="btn-group">
        <button class="btn">Изменить</button>
        <button class="btn">Удалить</button>
        <button class="btn">Задать язык</button>
      </div>
    </td>
  </tr>
</table>
