<app-modal [(visible)]="visible">
  <div class="app-modal-header d-flex m-2">
    <h4 class="modal-title">Добавить термин</h4>
    <button type="button" class="close" (click)="hide()">&times;</button>
  </div>
  <div class="app-modal-body">
    <label class="m-1">Термин</label>
    <input class="form-control m-1" [(ngModel)]="newTerm.value" type="text" />
    <label class="m-1">Часть речи</label>
    <select class="form-control m-1">
      <option *ngFor="let partOfSpeech of partsOfSpeech">{{partOfSpeech.name}}</option>
    </select>
    <label class="m-1">Описание</label>
    <textarea style="resize:none" class="form-control m-1" [(ngModel)]="newTerm.description" rows="4"></textarea>
  </div>
  <div class="app-modal-footer">
    <button class="btn btn-primary m-1" (click)="submitNewTerm()">Добавить</button>
    <button class="btn btn-primary" (click)="hide()">Отмена</button>
  </div>
</app-modal>
