<mat-menu #contextmenu="matMenu" [overlapTrigger]="false">
  <button mat-menu-item (click)="changeStatus('Работает')">
    <span>Запуск</span>
  </button>
  <button mat-menu-item (click)="changeStatus('Работает')">
    <span>Перезапуск</span>
  </button>
  <button mat-menu-item (click)="changeStatus('Остановлен')">
    <span>Остановка</span>
  </button>
</mat-menu>
<table mat-table [dataSource]="dataSource"
      class="mat-elevation-z8"
      matSort
      matSortDirection="asc"
      matSortDisableClear>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Имя </th>
    <td mat-cell *matCellDef="let element" (contextmenu)="menuTrigger.openMenu(); selectedServerId = element.id;">
        <div #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="contextmenu" disabled="true"></div>
      {{element.name}}
    </td>
  </ng-container>

  <ng-container matColumnDef="role" >
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Роль </th>
    <td mat-cell *matCellDef="let element" (contextmenu)="menuTrigger.openMenu(); selectedServerId = element.id;">
      <div #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="contextmenu" disabled="true"></div>
      {{element.role}}
    </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Статус </th>
    <td mat-cell *matCellDef="let element" (contextmenu)="menuTrigger.openMenu(); selectedServerId = element.id;">
      <div #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="contextmenu" disabled="true"></div>
      {{element.status}}
    </td>
  </ng-container>

  <ng-container matColumnDef="address" >
    <th mat-header-cell *matHeaderCellDef> Адрес </th>
    <td mat-cell *matCellDef="let element" (contextmenu)="menuTrigger.openMenu(); selectedServerId = element.id;">
      <div #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="contextmenu" disabled="true"></div>
      {{element.address}}
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Действия </th>
    <td mat-cell *matCellDef="let element" (contextmenu)="menuTrigger.openMenu(); selectedServerId = element.id;">
      <div #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="contextmenu" disabled="true"></div>
      <a (click)="openDialog(element)">Edit</a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
