table {
  width: 100%;
}

button:focus {
  outline: none;
}

::ng-deep a:not([href]):not([tabindex]) {
  color: #007bff;
  text-decoration: underline;
}

::ng-deep .mat-dialog-actions {
  justify-content: flex-end;
}

#address:focus {
  outline: none;
}

.col-3, .col-9 {
  padding: 0px !important;
}
