<div style="overflow-y: auto; height: 90vh;" class="m-3">
  <div class="dropdown m-2">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <div>Выберите глоссарий</div>
    </button>
    <div class="dropdown-menu m-1" aria-labelledby="dropdownMenuButton">
      <button *ngFor="let glossary of glossaries" class="dropdown-item" [routerLink]="['/glossaries', glossary.id]">{{glossary.name}}</button>
    </div>
  </div>
</div>
