<div>
  <h1>Ресурсы</h1>
</div>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb nav-border">
    <li class="breadcrumb-item active nav-element-gray" aria-current="page"> Память переводов </li>
  </ol>
</nav>

<nav class="navbar navbar-expand nav">
  <ul class="navbar-nav nav">

    <li class="nav-item">
      <button class="btn nav-element btn-sm" (click)="addFormModal.show()"> Создать память переводов </button>
      <app-add-translation-memory-form-modal #addFormModal
                                             (newSubmitted)="add($event)">
      </app-add-translation-memory-form-modal>
    </li>

    <li class="nav-item">
      <button class="btn nav-element btn-sm" (click)="getEditing()" [disabled]="!isSelectedTranslationMemory">
        Редактировать память переводов
      </button>
      <app-edit-translation-memory-form-modal #editFormModal
                                              *ngIf="isVisibleEditFormModal"
                                              [translationMemory]="translationMemory"
                                              (editedSubmitted)="edited($event)"
                                              (error)="getAllDTO()">
      </app-edit-translation-memory-form-modal>
    </li>

    <li class="nav-item">
      <button type="button" class="btn nav-element btn-sm" (click)="getConfirmClear()" [disabled]="!isSelectedTranslationMemory">
        Очистить
      </button>
      <app-confirm-clear-translation-memory-of-string #confirmClearFormModal
                                                      *ngIf="isSelectedTranslationMemory"
                                                      [translationMemory]="translationMemory"
                                                      (confirmedClear)="clear($event)">
      </app-confirm-clear-translation-memory-of-string>
    </li>

    <li class="nav-item">
      <button class="btn nav-element btn-sm" (click)="getConfirmDelete()" [disabled]="!isSelectedTranslationMemory">
        <img src="../assets/icons/main/bin.png" width="20" height="20" class="d-inline-block align-li" alt="Удалить">
      </button>
      <app-confirm-delete-translation-memory #confirmDeleteFormModal
                                             *ngIf="isSelectedTranslationMemory"
                                             [translationMemory]="translationMemory"
                                             (confirmedDelete)="delete($event)">
      </app-confirm-delete-translation-memory>
    </li>

  </ul>
</nav>

<app-load-translation-memory-form-modal #loadFormModal
                                        (loadSubmitted)="load($event)"
                                        *ngIf="translationMemory.id"
                                        [id]="translationMemory.id">
</app-load-translation-memory-form-modal>


<app-main-list-page #parent (changed)="loadData()"></app-main-list-page>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th (click)="requestSortBy('name_text')"
          [class.headerSortUp]="isSortingAscending && lastSortColumnName == 'name_text'"
          [class.headerSortDown]="!isSortingAscending && lastSortColumnName == 'name_text'"
          class="col-xs">
        Имя
      </th>
      <th (click)="requestSortBy('string_count')"
          [class.headerSortUp]="isSortingAscending && lastSortColumnName == 'string_count'"
          [class.headerSortDown]="!isSortingAscending && lastSortColumnName == 'string_count'"
          class="col-xs">
        Строки
      </th>
      <th (click)="requestSortBy('locales_name')"
          [class.headerSortUp]="isSortingAscending && lastSortColumnName == 'locales_name'"
          [class.headerSortDown]="!isSortingAscending && lastSortColumnName == 'locales_name'"
          class="col-xs">
        Языки
      </th>
      <th (click)="requestSortBy('localization_projects_name')"
          [class.headerSortUp]="isSortingAscending && lastSortColumnName == 'localization_projects_name'"
          [class.headerSortDown]="!isSortingAscending && lastSortColumnName == 'localization_projects_name'"
          class="col-xs">
        Проекты
      </th>
      <th class="col-xs-10">
        
      </th>
    </tr>
  </thead>
  <tr (click)="selected(row)"
      [class.row-selected]="row.isSelected"
      *ngFor="let row of dataSource">
    <td class="col-xs">
      {{row.model.name_text}}
    </td>
    <td class="col-xs">
      {{row.model.string_count}}
    </td>
    <td class="col-xs">
      {{row.model.locales_name}}
    </td>
    <td class="col-xs">
      {{row.model.localization_projects_name}}
    </td>
    <td class="col-xs-10">
        <div class="dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            <b>...</b>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <label for="file-upload" class="dropdown-item m-0">
              Загрузить
              <input id="file-upload" (change)="unload($event.target.files)" type="file" [accept]="fileTypes">
            </label>
            <button class="dropdown-item" (click)="getLoad()"> Скачать </button>
            <button class="dropdown-item" (click)="getEditing()"> Изменить </button>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item" (click)="getConfirmClear()"> Очистить </button>
            <button class="dropdown-item" (click)="getConfirmDelete()"> Удалить </button>
          </div>
        </div>
    </td>
  </tr>
</table>


<h4 *ngIf="!isDataSourceLoaded" class="alert alert-danger"> Невозможно подключиться к БД </h4>
