h1 {
    font-weight: 400;
}

.mat-hint {
    font-size: .85rem;
    color: grey;
}

.mat-form-field-type-mat-select {
    width: 100%;
}

.button-row-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 4px;
    background-color: #eff0ed;
    height: 5rem;
    padding: 0rem .55rem;
}

.checkbox-wrap {
    display: grid;
    width: 50%;
    border-radius: 4px;
    background-color: #eff0ed;
    padding: 0rem .55rem;
    margin-left: 1rem;
}

.languages-list {
    width: 50%;
}