<h1 mat-dialog-title></h1>
<div mat-dialog-content>
  <p>{{data.user.user_name}}</p>
  <section *ngFor="let project of projects"
           class="example-section">
    <mat-checkbox class="example-margin"
                  labelPosition="before"
                  (change)="valueChange(project,$event)">
      {{project.name_text}}
    </mat-checkbox>
  </section>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Отмена</button>
  <button mat-button cdkFocusInitial (click)="inviteUser.show()">Пригласить</button>  <!--[mat-dialog-close]="data"-->
</div>

<app-invite-translator #inviteUser [user]="data.user" [projects]="selectedProjects"></app-invite-translator>
