<h1 mat-dialog-title></h1>
<div mat-dialog-content>
  <p>{{data.name}}</p>
  <section class="example-section">
    <mat-checkbox
      class="example-margin"
      labelPosition="before">
      Проект 1
    </mat-checkbox>
  </section>
  <section class="example-section">
    <mat-checkbox
      class="example-margin"
      labelPosition="before">
      Проект 2
    </mat-checkbox>
  </section>
  <section class="example-section">
    <mat-checkbox
      class="example-margin"
      labelPosition="before">
      Проект 3
    </mat-checkbox>
  </section>
  <section class="example-section">
    <mat-checkbox
      class="example-margin"
      labelPosition="before">
      Проект 4
    </mat-checkbox>
  </section>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Отмена</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Пригласить</button>
</div>
