div.dateHolder {
  background: #f5f5f5;
  overflow: hidden;
  margin-top: 20px;
  padding: 20px;
}

  div.dateHolder button {
    background: #90a100;
    padding-left: 10px;
    color: #f5f5f5;
  }

div.reportHeader {
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
}

  div.reportHeader h2 {
    text-align: left;
    display: inline-block;
    width: 100%;
    margin-right: -50%;
    padding-left: 10px;
  }

  div.reportHeader button {
    float: right;
    background: #fff;
  }

div.reportFilter select {
  margin: 10px;
}

div.reportFilter input {
  margin: 10px;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}
