<div class="container-fluide">
  <div class="row">
    <div class="col-sm-8">
      <nav aria-label="breadcrumb" style="display: inline-block;">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a class="nav-link profile-link" role="button" aria-haspopup="true" routerLink='/profile'>
              <img src="../assets/images/user-picture.png" width="24" height="24" class="d-inline-block align-top" alt="">
            </a>
            <span>Имя текущего пользователя</span>
          </li>
        </ol>
      </nav>
    </div>
    <div class="col-sm-4 second-col">
      <button *ngIf="currentProject" mat-raised-button routerLink='/Projects/{{ currentProject.id }}'>
        <mat-icon>settings</mat-icon>Настройки
      </button>
    </div>
  </div>
</div>

<h1 *ngIf="currentProject" class="mt-4 mb-4">{{ currentProject.name }}</h1>
<h1 *ngIf="!currentProject">Невозможно подключиться к БД</h1>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
      aria-selected="true">Главная</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="acivity-tab" data-toggle="tab" href="#acivity" role="tab" aria-controls="acivity"
      aria-selected="false">Активность</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="problem-tab" data-toggle="tab" href="#problem" role="tab" aria-controls="problem"
      aria-selected="false">Проблемы переводов</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">

  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class="container-fluide">
      <div class="row mr-2 ml-2 mt-3">
        <div class="col-9" style="display: flex; padding-left: 0px; flex-wrap: wrap;">
          <div *ngFor="let item of langList; let i=index" class="lang mr-4">
            <img src="{{item.icon}}" alt="">
            <p>{{item.name}}</p>
          </div>
        </div>
        <div class="col-3 right-content">
          <span style="font-weight:600">Детали</span>
          <table class="table" *ngIf="currentProject">
            <tr>
              <td>Исходный язык</td>
              <td> Русский </td>
              <!-- <td> {{currentProject.??}} </td> тут пока хардкод, т.к. нет такого свойства-->
            </tr>
            <tr>
              <td>Пользователей</td>
              <!-- <td> {{currentProject.??}} </td> тоже хардкод -->
              <td> 9 </td>
            </tr>
            <tr>
              <td>Words to translate</td>
              <!-- <td> {{currentProject.??}} </td> тоже хардкод -->
              <td> 85 </td>
            </tr>
            <tr>
              <td>Создан</td>
              <td> {{currentProject.dateOfCreation}} </td>
            </tr>
            <tr>
              <td>Последняя активность</td>
              <td> {{currentProject.lastActivity}} </td>
            </tr>
          </table>
          <hr>
          <span style="font-weight:600">Менеджеры</span><br>
          <a class="nav-link profile-link" role="button" aria-haspopup="true" routerLink='/profile'>
            <img src="../assets/images/user-picture.png" width="24" height="24" class="d-inline-block align-top" alt="">
            <span class="ml-2" style="color:grey;">current_user_name</span>
          </a>
          <div class="mt-2">
            <span class="mr-2 br-b blue">Владелец</span>
            <span class="mr-2 br-b green">Связаться</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tab-pane fade" id="acivity" role="tabpanel" aria-labelledby="profile-tab">
    <mat-form-field style="margin-right: 1rem;">
      <mat-select [(value)]="selected" (selectionChange)="applyFilterUsers($event.value)">
        <mat-option value="none">Все пользователи</mat-option>
        <mat-option *ngFor="let elem of users" [value]="elem.id">{{elem.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select [(value)]="selectedLang" (selectionChange)="applyFilterLang($event)">
        <mat-option value="none">Все языки</mat-option>
        <mat-option *ngFor="let elem of langOptions; let i=index" [value]="i">{{elem}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-accordion *ngFor="let user of filtredUsers" class="mb-4">
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <a class="nav-link profile-link" role="button" aria-haspopup="true" routerLink='/profile'>
              <img src="../assets/images/user-picture.png" width="24" height="24" class="d-inline-block align-top" alt="">
              <span class="ml-2" style="color:grey;">{{user.name}}</span>
            </a>
          </mat-panel-title>
          <mat-panel-description>
            19:56
          </mat-panel-description>
        </mat-expansion-panel-header>


        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 info-table">
          <ng-container matColumnDef="variant">
            <th mat-header-cell *matHeaderCellDef> Вариант перевода </th>
            <td mat-cell *matCellDef="let element"> {{element.variant}} </td>
          </ng-container>

          <ng-container matColumnDef="file">
            <th mat-header-cell *matHeaderCellDef> Файл </th>
            <td mat-cell *matCellDef="let element"> {{element.file}} </td>
          </ng-container>

          <ng-container matColumnDef="language">
            <th mat-header-cell *matHeaderCellDef> Язык </th>
            <td mat-cell *matCellDef="let element"> {{element.language}} </td>
          </ng-container>

          <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef> Время </th>
            <td mat-cell *matCellDef="let element"> {{element.time}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="tab-pane fade" id="problem" role="tabpanel" aria-labelledby="acivity-tab">prob</div>

</div>
