<app-modal [(visible)]="visible">
  <div class="app-modal-header d-flex m-2">
    <h4 class="modal-title"> Подробности строки </h4>
    <button type="button" class="close" (click)="hide()">&times;</button>
  </div>
  <div class="app-modal-body">
    <div>
      <label class="m-1">{{translationSubstring.localization_project_source_locale_name}}</label>
      <textarea class="form-control m-1" [(ngModel)]="translationSubstring.substring_to_translate"></textarea>
    </div>
    
    <div *ngFor="let row of translationSubstring.translations">
      <label class="m-1">{{row.locale_name}}</label>
      <textarea class="form-control m-1" [(ngModel)]="row.translated"></textarea>
    </div>
  </div>
  <div class="app-modal-footer">
    <button class="btn btn-success m-1" (click)="submit()"> Сохранить </button>
    <button class="btn btn-primary" (click)="hide()"> Отмена </button>
  </div>
</app-modal>
