<app-add-folder-modal #addFolderModal (newFolderSubmitted)="addFolder($event[0], $event[1])"></app-add-folder-modal>

<div class="row m-2">
  <div class="col">
    <label class="btn btn-secondary">Добавить файл <input type="file" style="display: none;" (change)="onFileUpload($event)"></label>
    <button class="btn btn-secondary" (click)="addFolderModal.showForNode(null)">Создать папку</button>
    <button class="btn btn-secondary" (click)="folderInput.value = ''; folderInput.click()">
      Загрузить папку
      <input type="file" #folderInput webkitdirectory style="display: none;" (change)="uploadFolder(folderInput.files)">
    </button>
  </div>
  <div class="col">
    <input type="text" [(ngModel)]="searchFilesNamesString" (input)="getFiles()" placeholder="Искать по файлам" />
  </div>
</div>

<app-set-languages-modal #setFileLanguagesModal></app-set-languages-modal>
<app-rename-file-modal #renameModal (nameChangeSubmitted)="renameNode($event[0], $event[1])"></app-rename-file-modal>
<app-file-input-wrapper #fileInput (fileConfirmed)="onFileUpload($event[0], $event[1])"></app-file-input-wrapper>
<app-file-input-wrapper #folderInput [isFolderInput]="true" (fileConfirmed)="uploadFolder($event[0].currentTarget.files, $event[1])"></app-file-input-wrapper>
<app-file-input-wrapper #updateFileInput (fileConfirmed)="updateFileVersion($event[0], $event[1])"></app-file-input-wrapper>
<mat-menu #fileRowContextMenu="matMenu">
  <ng-template matMenuContent let-node="node" let-data="data">
    <button mat-menu-item *ngIf="data.is_Folder" (click)="fileInput.activate(node)">
      Добавить файл
    </button>
    <button mat-menu-item *ngIf="data.is_Folder" (click)="addFolderModal.showForNode(node)">
      Создать папку
    </button>
    <button mat-menu-item *ngIf="data.is_Folder" (click)="folderInput.activate(node)">
      Загрузить папку
    </button>
    <button mat-menu-item *ngIf="!data.is_Folder" (click)="updateFileInput.activate(node)">
      Обновить
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="renameModal.showNodeFile(node, data)">
      Переименовать
    </button>
    <button mat-menu-item (click)="pseudoCut(node)">
      Вырезать
    </button>
    <button mat-menu-item (click)="moveCurrentlyCutted(node)" [disabled]="!data.is_Folder || !cuttedNode">
      Вставить
    </button>
    <button mat-menu-item (click)="deleteFile(node)">
      Удалить
    </button>
    <button mat-menu-item *ngIf="!data.is_Folder" (click)="setFileLanguagesModal.showFile(data)">
      Задать язык перевода
    </button>
    <button mat-menu-item *ngIf="!data.is_Folder" (click)="requestFileDownload(node)">
      Скачать
    </button>
    <button mat-menu-item *ngIf="!data.is_Folder" routerLink="/Strings/byFileId/{{data.id}}">
      Просмотр исходных строк
    </button>
  </ng-template>
</mat-menu>

<p-treeTable [value]="files" [columns]="cols" selectionMode="single" [(selection)]="selectedNode" dataKey="id">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [ngStyle]="{'width': col.width, 'text-align': col.textalign}">{{col.header}}</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
    <tr [ttSelectableRow]="rowNode"
        (dblclick)="fileRowMenuTrigger.openMenu()"
        dnd-droppable
        [allowDrop]="canDrop(rowNode.node)"
        (onDropSuccess)="moveNode($event.dragData, rowNode.node)"
        dnd-draggable
        [dragEnabled]="true"
        [dragData]="rowNode.node">
      <td [ttEditableColumn]="rowData" class="col-xs-6">
        <div (click)="nodeExpandToggler.onClick($event)">
          <p-treeTableToggler #nodeExpandToggler [rowNode]="rowNode"></p-treeTableToggler>
          <img [style.width]="16+'px'" [src]="rowNode.node.icon" />
          {{rowData.name_text}}
        </div>
      </td>
      <td class="col-xs-2">
        {{rowData.date_Of_Change | date: 'dd/MM/yyyy'}}
      </td>
      <td [ngStyle]="{'text-align': 'right'}" class="col-xs-2">
        {{rowData.strings_count}}
      </td>
      <td class="col-xs-2">
        <button class="btn btn-default" [style.width]="100+'%'" *ngIf="!rowData.is_Folder" disabled>{{rowData.version}}</button>
      </td>
      <td [ngStyle]="{'text-align': 'center'}" class="col-xs-2">
        <button class="btn btn-default" *ngIf="!rowData.is_Folder" disabled>{{rowData.priority}}</button>
      </td>
      <td class="col-xs-2">
        <button *ngIf="!rowData.is_Folder" mat-raised-button (click)="updateFileInput.click()">
          Обновить
          <input #updateFileInput type="file" style="display: none;" (change)="updateFileVersion($event, rowNode.node)">
        </button>
        <button *ngIf="!rowData.is_Folder" mat-icon-button (click)="requestFileDownload(rowNode.node)">
          <mat-icon> arrow_downward </mat-icon>
        </button>
        <button mat-icon-button
                #fileRowMenuTrigger="matMenuTrigger"
                [matMenuTriggerFor]="fileRowContextMenu"
                [matMenuTriggerData]="{node: rowNode.node, data: rowData}">
          <mat-icon> more_horiz </mat-icon>
        </button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="columns.length" style="text-align:center;">Файлы не найдены.</td>
    </tr>
  </ng-template>
</p-treeTable>
