
<div class="card w-50">
  <div class="card-body">
    <h5 class="card-title">Удалить проект</h5>
    <p class="card-text">
      <span>важно</span> Удаление проекта навсегда удалит все ресурсы, связанные с проектом, включая загруженные файлы, переводы, согласования и т.д. Удаленные проекты не могут быть восстановлены
    </p>
    <a href="#" class="btn btn-default">  Удалить проект</a>
    <button mat-raised-button color="primary" style="width: 15rem;" (click)="deleteProject($event)">Сохранить проект</button>
  </div>
</div>

<router-outlet></router-outlet>
