<h1>
  <span *ngIf="projectName!=null">
    {{ projectName }}
  </span>

  настройки
</h1>
<!-- меню -->
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarTogglerDemo01"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-item nav-link" routerLink='/create-project/all-settings/'>
          <mat-icon class="nav-item">tune</mat-icon>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-item nav-link active" routerLink="./">Переводы</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" href="./Files">Файлы</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" href="./Participants">Переводчики</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" routerLink="reports">Отчеты</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" routerLink="stringsTranslationMemory">Память переводов</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" href="./Glossaries">Словарь</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" href="./Strings">Строки</a>
      </li>

    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
