<app-modal [(visible)]="visible">
  <div class="app-modal-header d-flex m-2">
    <h4 class="modal-title">Добавить термин</h4>
    <button type="button" class="close" (click)="hide()">&times;</button>
  </div>
  <div class="app-modal-body">
    <app-term-details-editable [glossary]="glossary" [term]="_term" [triggerLoading]="visible"></app-term-details-editable>
    <div *ngFor="let translation of translations">
      <h6 *ngIf="translation.locale" class="m-1">{{translation.locale.name}}</h6>
      <label class="m-1">Термин</label>
      <input class="form-control m-1" [(ngModel)]="translation.translated" type="text" />
    </div>
  </div>
  <div class="app-modal-footer">
    <button class="btn btn-primary m-1" (click)="updateTerm()">Готово</button>
    <button class="btn btn-primary" (click)="hide()">Отмена</button>
  </div>
</app-modal>
