<div class="m-3">
  <div class="row m-2">
    <div class="col">
      <div class="btn-group m-1">
        <button class="btn btn-primary m-1 btn-sm" disabled>Загрузить</button>
        <button class="btn btn-primary m-1 btn-sm" disabled>Скачать</button>
      </div>
      <button class="btn btn-primary m-1 btn-sm" (click)="addTermFormModal.show()">Добавить термин</button>
      <app-add-term-form-modal [glossary]="glossary" (newTermSubmitted)="addNewTerm($event)" #addTermFormModal></app-add-term-form-modal>
      <button [disabled]="selectedTerms.length == 0 ? true : null" class="btn btn-warning m-1 btn-sm" (click)="deleteSelectedTermsConfirmationModal.show()">Удалить</button>
      <app-delete-terms-confirmation-modal #deleteSelectedTermsConfirmationModal (deleteTermsConfirmed)="deleteSelectedTerms()"></app-delete-terms-confirmation-modal>
      <button class="btn btn-primary m-1 btn-sm" (click)="openSetProjectsModal()">Назначить словарь</button>
    </div>
    <div class="col d-flex justify-content-end">
      <app-pagination [offset]="currentOffset" [pageSize]="pageSize" [totalCount]="totalCount" [displayedPagesRange]="3" (pageChanged)="onPageChanged($event)"></app-pagination>
    </div>
  </div>
  <div class="row m-2">
    <div class="col">
      <input type="text" class="form-control m-1" placeholder="Искать термин" [(ngModel)]="termSearchString" (input)="loadTerms()" />
    </div>
    <div class="col d-flex justify-content-end">
      <div class="form-check m-1" style="visibility: hidden">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="">Переводить словарь
        </label>
      </div>
    </div>
  </div>
  <div class="col m-2">
    <app-glossary-terms [termViewModels]="termViewModels" [glossary]="glossary" (sortByRequested)="sortByRequested($event)"></app-glossary-terms>
  </div>
</div>
