.form-control {
  border-radius: 0px;
}

.table {
  font-size: 14px;
}

table td, table th
{
    padding: 2px;
}

table th
{
  text-align : justify;
}

.col-xs-6, {
  width : 10vw;
}

.col-xs-2{
  width : 1vw;
}
