<app-modal [(visible)]="visible">
  <div class="app-modal-header d-flex m-2">
    <h4 class="modal-title">Добавить папку</h4>
    <button type="button" class="close" (click)="hide()">&times;</button>
  </div>
  <div class="app-modal-body">
    <input class="form-control m-1" [(ngModel)]="newFolder.name_text" type="text" />
  </div>
  <div class="app-modal-footer">
    <button class="btn btn-success m-1 btn-sm" (click)="submitNewFolder()">Добавить</button>
    <button class="btn btn-primary btn-sm" (click)="hide()">Отмена</button>
  </div>
</app-modal>
