<div class="phrasesBlock">

  <div class="searchBlock">
    <div class="container align-center">
      <div class="row" style="width: 100%;">
        <div class="col-2 align-center arrowIcon" (click)="getStrings()" style="padding:0px;">
          <mat-icon>search</mat-icon>
        </div>
        <form class="col-8">
          <div class=" inputSearch">
            <input type="text" [(ngModel)]="searchText" name="first" class="form-control input-lg" placeholder="Поиск в файле"
              class="col-9">
          </div>
        </form>
        <div class="col-2 float-right align-center arrowIcon" style="padding:0px;">
          <mat-icon (click)="filterPhrasesClick()">filter_list</mat-icon>
        </div>
      </div>
    </div>
  </div>

  <div class="pharseListBlock">
    <div class="panel panel-primary">
      <div class="panel-body">
        <ul class="list-group list-group-flush">
          <div *ngIf="searchInputEmpty()">
            <li class="list-group-item list-group-item-action" *ngFor="let phrase of currentPageOfPhrases | filterPhrases: searchText | sort:'substring_to_translate' "
              (click)="choosePhrase(phrase)">
              <div class="row">
                <div class="col-1"><img class="colorIcon"></div>
                <div class="col-11"> {{phrase.substring_to_translate}} </div>
              </div>
            </li>
          </div>
          <div *ngIf="!searchInputEmpty()">
            <li class="list-group-item list-group-item-action" *ngFor="let phrase of phrasesList | filterPhrases: searchText | sort:'substring_to_translate' "
              (click)="choosePhrase(phrase)">
              <div class="row">
                <div class="col-1"><img class="colorIcon"></div>
                <div class="col-11"> {{phrase.substring_to_translate}} </div>
              </div>
            </li>
          </div>
        </ul>
      </div>
    </div>
  </div>

  <div class="pagesBlock align-center">
    <p class="numberOfPages col-8">Page {{currentPageNumber}} of {{maxNumberOfPages}} </p>
    <div class="arrowsIcons col-4 row align-center">
      <div class="arrowIcon">
        <mat-icon (click)="previuosPage()">keyboard_arrow_left</mat-icon>
      </div>
      <div class="arrowIcon">
        <mat-icon (click)="nextPage()">keyboard_arrow_right</mat-icon>
      </div>
    </div>
  </div>
</div>
