.panel-body {
}

.searchBlock, .pagesBlock  {
    padding-top: 0.3rem;
    height: 2rem;
}

.filter_list{
    padding: 0.3rem;
    height: 0.8rem;
}

.inputSearch input {
    min-width: 100%;
}

.pharseListBlock .list-group {
    height: 75vh;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    cursor: pointer;
}

.searchIcon {
    margin-top: 5px;
    height: 20px;
    width: 20px;
    text-align: center;
}

.colorIcon {
    height: 0.7em;
    width: 0.7em;
}

.numberOfPages {
    font-size: 0.8em;
    color: gray;
    margin-bottom: .2rem;
}

.arrowIcon {    
    cursor: pointer;
}
.align-center {
  display: flex;
  justify-con-tent: center;
  align-items: center;
}
.mat-icon {
  color: grey;
}

.col-11{
  font-size: 0.9em;
  padding: 0em
}

.div {
}

.list-group-item{
    min-width: 100%;
}

.col-1{
  padding: 0em
}
.col-2{
  padding: 0em
}

.col-9{
  padding: 0em;
  font-size: 0.8em
}

