.directoryBlock, .addCommentBlock  {
  background-color: #F6F5F1;
  height: 2.5rem;
}

.nav-tabs {
  border-bottom: none;
}

.directoryBlock a {
    color: gray;
}

.panel-body {
  background: #fcfaef;
}

.commentsFiled .list-group {
    height: 75vh;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

/* .inputSearch {
    padding-top: 2%;
    padding-left: 0%;
    padding-right: 1%;
} */

/* .inputSearch input {
    border-radius: 0%
} */

.form-control {
  padding: 0px;
}

.conditionsBlock {
    text-align: center;
    padding-top: 40%;
    font-size: 1.2em;
    color: grey;
}

.userNameRow {
  color: #A4BF82;
}

.controlText{
  color: #A4BF82;
  cursor: pointer;
}

.greenBtn {
  background-color: #A4BF82;
  color: white;
}

.appendedImage {
  width: 50%;
  height: 40%;
}

.addCommentBlock {
  padding-top: 0.3rem;
}

.arrowIcon {    
  cursor: pointer;
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mat-icon {
  color: grey;
}

