.directoryBlock, .addCommentBlock  {
  background-color: #F6F5F1;
  height: 1.5rem;
}

.nav-tabs {
  border-bottom: none;
}

.directoryBlock a {
    color: gray;
}

.panel-body {
  background: #fcfaef;
}

.tabsBlock{
  margin-top: 1rem;
}

.tabsBlock .list-group {
  height: 75vh;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  padding: 2px;
}

.list-group{
  margin-top: 1rem;
}


.list-group-item-action{
  padding: 2px 2px 2px 1rem;
}

/* .inputSearch {
    padding-top: 2%;
    padding-left: 0%;
    padding-right: 1%;
} */

/* .inputSearch input {
    border-radius: 0%
} */

.form-control {
  padding: 0px;
}

.conditionsBlock {
    text-align: center;
    padding-top: 40%;
    font-size: 1em;
    color: grey;
}

.userNameRow {
  color: #A4BF82;
  font-size: 0.8rem;
}

.col-6{
  font-size: 0.8rem;
}

.controlText{
  color: #A4BF82;
  cursor: pointer;
  font-size: 0.8rem;
  padding: 2px 2px 2px 2px;
}

.greenBtn {
  background-color: #A4BF82;
  color: white;
}

.appendedImage {
  width: 100%;  
}

.imageBlock {
  cursor: pointer;
  margin-right: 5%;
  padding: 2%;
  border-radius: 15%;
  border-color: #A4BF82;
  border-width: 2px;
  border-style: dashed;
}

.addCommentBlock {
  padding-top: 0.3rem;
}

.arrowIcon {    
  cursor: pointer;
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mat-icon {
  color: grey;
}

.termName {
  font-weight: bold;
  color: #A4BF82;
}

.glossaryName {
  font-weight: bold;
}
