<div class="container-fluide">
  <div class="row">
    <div class="col-sm">
      <mat-form-field>
        <input matInput [matDatepicker]="pickerStart" placeholder="Дата с">
        <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
        <mat-datepicker #pickerStart></mat-datepicker>
      </mat-form-field>

      <mat-form-field style="margin-left: 10px;">
        <input matInput [matDatepicker]="pickerEnd" placeholder="Дата по">
        <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
        <mat-datepicker #pickerEnd></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-sm"></div>
  </div>
  <div class="row second-row">
    <div class="col-sm">
      <mat-form-field class="e-form-field">
        <input matInput type="text" placeholder="Инициатор" [(ngModel)]="initializer">
        <button mat-button *ngIf="initializer" matSuffix mat-icon-button aria-label="Clear" (click)="initializer=''; applyFilter()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="col-sm">
      <mat-form-field class="e-form-field">
        <input matInput type="text" placeholder="Тип события" [(ngModel)]="eventType">
        <button mat-button *ngIf="eventType" matSuffix mat-icon-button aria-label="Clear" (click)="eventType=''; applyFilter()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="col-sm">
      <mat-form-field class="e-form-field">
        <input matInput type="text" placeholder="Текст" [(ngModel)]="txt">
        <button mat-button *ngIf="txt" matSuffix mat-icon-button aria-label="Clear" (click)="txt=''; applyFilter()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div class="col-sm">
      <button mat-raised-button (click)="applyFilter(pickerStart.startAt, pickerEnd.startAt, initializer, eventType, txt)" style="margin-left:.3rem;">Найти</button>
    </div>
  </div>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort matSortDirection="asc" matSortDisableClear>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Дата события </th>
    <td mat-cell *matCellDef="let element">
      {{element.date}}
    </td>
  </ng-container>

  <ng-container matColumnDef="initialize">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Инициатор </th>
    <td mat-cell *matCellDef="let element">
      {{element.initialize}}
    </td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Тип события </th>
    <td mat-cell *matCellDef="let element">
      {{element.type}}
    </td>
  </ng-container>

  <ng-container matColumnDef="text">
    <th mat-header-cell *matHeaderCellDef> Текст </th>
    <td mat-cell *matCellDef="let element">
      {{element.text}}
    </td>
  </ng-container>

  <ng-container matColumnDef="details">
    <th mat-header-cell *matHeaderCellDef> Подробнее </th>
    <td mat-cell *matCellDef="let element">
      <a (click)="openDialog(element)">Детали</a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
