.controlBlock {}



.contextBlock {}

.textForTranslate {}

.context {
  margin-top: 1%;
  color: #646567;
  font-size: 0.8em;

}



.contextPicker {
  cursor: pointer;
  padding: 1em
}

.contextEdit {}


.textArea {

  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 5rem;
  min-height: 3em;
  font-size: 1em;
  min-width: 18em;
  background-color: #F4F7FC;
  padding: 0.1rem;

}

.textAreaContext {

  padding: 0.1rem;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 2rem;
  font-size: 0.8em;
  min-width: 18em;
  background-color: #F4F7FC;

}

.translateTextArea {

  padding: 0.1rem;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 3rem;
  font-size: 1em;
  min-width: 18em;
}


.arrowIcon {
  cursor: pointer;
}

.mat-icon {
  width: 0.8rem;
  height: 0.8rem;
}

.importIcon {
  height: 0.8rem;
  width: 0.8rem;
  cursor: pointer;
}

.appendedImage {
  width: 100%;
}

.imageBlock {
  cursor: pointer;
  margin-right: 5%;
  padding: 2%;
  border-radius: 15%;
  border-color: #4430ffea;
  border-width: 2px;
  border-style: dashed;
  height: 3rem;
  width: 3rem;
}

.arrowsIcons {}

.translationBlockWithoutPhrase {
  text-align: center;
  font-size: 1.5em;
  width: 20rem;
}

.phraseUndifinedBlock {}

.selectionDialog {}



.col-1 {
  font-size: 1.5em;
  width: 3rem;
  text-align: left;
}

.col-2 {
  font-size: 1.5em;
  width: 100%;
  text-align: center;
}

.col-3 {
  font-size: 1.5em;
  width: 3rem;
  text-align: right;
}



.col-11 {
  font-size: 0.9em;
  padding: 0em
}


.hr-style {
  padding: 0.1rem;
  margin: 0.3rem;
}

.col-sm {
  margin: 0.3rem;
}

.margin-small {
  margin: 0.3rem;
}
