.controlBlock {
}

.hideBlocksIcons {
}

.rightHideIcon {
}

.contextBlock {
}

.textForTranslate {
}

.context {
  margin-top: 1%;
  color: #646567;
  font-size: 0.8em;

}

.verticalLine {
}

.contextPicker {

}

.contextEdit {
}

.objectInCode {
}

.workWithTranslation {
}

.textArea {
  padding-left: 1rem;
  padding-right: 1rem;
width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
//height:5rem;
 
  font-size: 1em;
    min-width: 30em;
}

.textAreaContext {
  padding-left: 1rem;
  padding-right: 1rem;
width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
//height:5rem;
  font-size: 0.8em;
    min-width: 40em;
}

.translateTextArea {
  padding-left: 1rem;
  padding-right: 1rem;
width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
height:3rem;
  font-size: 1em;
    min-width: 28em;
}


.translateTextArea textarea {
}

.arrowIcon {
}

.mat-icon {
  width: 0.8rem;
  height: 0.8rem;
}

.importIcon {
  height: 0.8rem;
  width: 0.8rem;
  cursor: pointer;
}

.appendedImage {
  width: 100%;
}

.imageBlock {
  cursor: pointer;
  margin-right: 5%;
  padding: 2%;
  border-radius: 15%;
  border-color: #4430ffea;
  border-width: 2px;
  border-style: dashed;
  height: 3rem;
  width: 3rem;
}

.arrowsIcons {
}

.translationBlockWithoutPhrase {
}

.phraseUndifinedBlock {
}

.selectionDialog {
}

.col-sm-2 {
}

.col-2 {
}


.col-11{
  font-size: 0.9em;
  padding: 0em
}
.headline-text {
}


