.container-full {
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
    overflow: hidden;
    height: 100vh;
}

.dropdown-item {
    padding: .25rem 2.5rem;
}

.dropdown-menu {
    width: 15rem;
}

.divider {
    height: 0.5rem;
}

.nav-link {
  padding: 0px;
}
