.container-full {
  width: 100%;
  padding-left: 0%;
  padding-right: 0%;
  overflow: hidden;
  height: 100vh;
}

.dropdown-item {
}

.dropdown-menu {
  width: 100%;
  min-width: 15rem;
}

.divider {
  height: 0.5rem;
}

.nav-link {
  padding: 0px;
}

.bnt-create {
  width: 95%;
  min-width: 10rem;
  margin: 0.5rem;
}

.bnt-text {
  margin: 0.1rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.col-1 {
  width: 5%;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.col-2 {
  width: 90%;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.row {
  margin: 0.5rem;
}
