<header>
    <nav class="navbar bg-dark navbar-expand-md">

        <div class="webSiteLogo">
            <a href="#" class="navbar-brand">TranslateApp</a>
        </div>
        <button class="navbar-toggler" data-toggle="collapse" data-target=".navbarCollapse">Open</button>
        <div class="collapse navbar-collapse w-75 order-1 order-md-0  dual-collapse2 leftUl navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="navbar-item">
                    <a href="#" class="nav-link ">Файл</a>
                </li>
                <li class="navbar-item">
                    <a href="#" class="nav-link ">Язык</a>
                </li>
                <li class="navbar-item">
                    <a href="#" class="nav-link ">Проект</a>
                </li>
                <li class="navbar-item">
                    <a href="#" class="nav-link">Вид</a>
                </li>
            </ul>
        </div>


        <div class="collapse navbar-collapse w-200 order-3 dual-collapse2 rightUl navbarCollapse">
            <ul class="navbar-nav">
                <!-- <li class="navbar-item">
                    <img class="iconLi" src="../../../../assets/icons/header/keyboard.png">
                </li>
                <li class="navbar-item">
                        <img class="iconLi" src="../../../../assets/icons/header/gear.png">
                </li>
                <li class="navbar-item">
                        <img class="iconLi" src="../../../../assets/icons/header/question.png">
                </li> -->
                <li class="navbar-item">
                    <a href="#" class="nav-link"></a>
                </li>
            </ul>
        </div>

    </nav>


</header>
