@import '~@angular/material/theming';
@include mat-core();

$my-primary: (50: #3369FD,
100: #3369FD,
200: #3369FD,
300: #3369FD,
400: #3369FD,
500: #3369FD,
600: #3369FD,
700: #3369FD,
800: #3369FD,
900: #3369FD,
A100: #3369FD,
A200: #3369FD,
A400: #3369FD,
A700: #3369FD,
contrast: (50: white,
100: white,
200: white,
300: white,
400: white,
500: white,
600: white,
700: white,
800: white,
900: white,
A100: white,
A200: white,
A400: white,
A700: white,
));

$my-accent: (50: #0AC786,
100: #0AC786,
200: #0AC786,
300: #0AC786,
400: #0AC786,
500: #0AC786,
600: #0AC786,
700: #0AC786,
800: #0AC786,
900: #0AC786,
A100: #0AC786,
A200: #0AC786,
A400: #0AC786,
A700: #0AC786,
contrast: (50: white,
100: white,
200: white,
300: white,
400: white,
500: white,
600: white,
700: white,
800: white,
900: white,
A100: white,
A200: white,
A400: white,
A700: white,
));

$my-warn: (50: #FFA716,
100: #FFA716,
200: #FFA716,
300: #FFA716,
400: #FFA716,
500: #FFA716,
600: #FFA716,
700: #FFA716,
800: #FFA716,
900: #FFA716,
A100: #FFA716,
A200: #FFA716,
A400: #FFA716,
A700: #FFA716,
contrast: (50: white,
100: white,
200: white,
300: white,
400: white,
500: white,
600: white,
700: white,
800: white,
900: white,
A100: white,
A200: white,
A400: white,
A700: white,
));

$my-danger: (50: #FF2660,
100: #FF2660,
200: #FF2660,
300: #FF2660,
400: #FF2660,
500: #FF2660,
600: #FF2660,
700: #FF2660,
800: #FF2660,
900: #FF2660,
A100: #FF2660,
A200: #FF2660,
A400: #FF2660,
A700: #FF2660,
contrast: (50: white,
100: white,
200: white,
300: white,
400: white,
500: white,
600: white,
700: white,
800: white,
900: white,
A100: white,
A200: white,
A400: white,
A700: white,
));

$base-theme-primary: mat-palette($my-primary);

$base-theme-accent: mat-palette($my-accent);

$base-theme-warn: mat-palette($my-danger);

$base-theme-theme: mat-light-theme($base-theme-primary, $base-theme-accent, $base-theme-warn);

@include angular-material-theme($base-theme-theme);

$custom-typography-regular: mat-typography-config($font-family: 'Roboto, monospace',
$headline: mat-typography-level(60px, 72px),
$title: mat-typography-level(40px, 48px),
$subheading-2: mat-typography-level(30px, 36px),
$subheading-1: mat-typography-level(22px, 27px),
$body-2: mat-typography-level(18px, 22px),
$body-1: mat-typography-level(14px, 17px),
$caption: mat-typography-level(12px, 14px),
);

@include angular-material-typography($custom-typography-regular);
