/* You can add global styles to this file, and also import other style files */
/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~angular-notifier/styles";
@import "https://fonts.googleapis.com/css?family=Roboto";

.selectionDialog .mat-dialog-container{   
    padding: 0%;
    border-radius: 5%;
}
html {
  font-size: 1rem;
}


.img {
	height : 1.5rem;
	width : 1.5rem;
}

.img_big {
	height : 5rem;
	width : 5rem;
}

@media (min-width: 576px) {
    html {
        font-size: 1.2rem;
    }
}


@media (min-width: 900px) {
    html {
        font-size: 1rem;
    }
}

@media (min-width: 1600px) {
    html {
        font-size: 1.4rem;
    }
}
