
<div class="container">
  <div class="row">
    <div class="col col-sm-4">
      <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </nav>

      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">
          Cras justo odio
        </a>
        <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
        <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
        <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
        <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
      </div>
    </div>
    <div class="col col-sm-8">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">О Фонде</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional content.
            АО «НПФ ГАЗФОНД» является одним из самых крупных негосударственных пенсионных фондов страны. Фонд является соучредителем Национальной ассоциации негосударственных пенсионных фондов (НАПФ) — профессионального объединения участников российского пенсионного рынка.

            Основанный в 1994 году НПФ «ГАЗФОНД» в соответствии с требованиями действующего законодательства в 2018 году в результате реорганизации преобразован в акционерный пенсионный фонд - АО «НПФ ГАЗФОНД», который является правопреемником НПФ «ГАЗФОНД» по всем правам и обязанностям.

            АО «НПФ ГАЗФОНД» является социально-ориентированной организацией, ключевым направлением деятельности которой является негосударственное пенсионное обеспечение.
          </p>

        </div>
      </div>

    </div>
    <div class="w-100"></div>
    <div class="col col-sm-4">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active">
          Cras justo odio
        </a>
        <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
        <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
        <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
        <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
      </div>
    </div>
    <div class="col col-sm-8">
      <div class="list-group">
        <div class="list-group">
          <li class="list-group-item flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">List group item heading</h5>

            </div>
            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>

          </li>
        </div>
        <div class="list-group">

          <li class="list-group-item flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">List group item heading</h5>

            </div>
            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>

          </li>
          <div>
            <div class="list-group">
              <li class="list-group-item flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">List group item heading</h5>

                </div>
                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>

              </li>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
