
<form [formGroup]="formGroup" novalidate (ngSubmit)="submit()">
  <h1>
    Забыли пароль?
  </h1>
  <div class="alert alert-danger"
       *ngIf="formGroup.invalid && formGroup.errors?.notFoundUser">
    Пользователь с таким именем пользователя или электронной почтой не зарегистрирован
  </div>
  <p>Введите ваш логин или адрес электронной почты и мы отправим инструкцию по восстановлению пароля.</p>
  <div class="form-group">
    <label>Имя пользователя или e-mail</label>
    <input class="form-control"
           name="login"
           formControlName="nameFormControl"
           [class.ng-touched.ng-invalid]="formGroup.invalid" />

    <div class="alert alert-danger"
         *ngIf="formGroup.controls['nameFormControl'].invalid && formGroup.controls['nameFormControl'].touched && formGroup.controls['nameFormControl'].errors?.required">
      Поле обязательно для заполнения
    </div>
  </div>

  <div class="form-group">
    <button class="btn"
            [class.btn-success]="formGroup.valid"
            [class.btn-secondary]="formGroup.invalid"
            type="submit"
            [disabled]="formGroup.invalid">
      СБРОС ПАРОЛЯ
    </button>
  </div>

  <div class="form-group">
    <button class="btn btn-secondary"
            routerLink=''>
      ОТМЕНА
    </button>
  </div>

</form>
