<app-modal [isWide]="true" [(visible)]="visible">
  <div class="app-modal-header d-flex m-2">
    <h4 class="modal-title">Пригласить людей в проект</h4>
    <button type="button" class="close" (click)="hide()">&times;</button>
  </div>
  <div class="app-modal-body">
    <div class="m-2">
      <div>
        <h6>Роль</h6>
      </div>
      <select *ngIf="roles" class="form-control m-1" [(ngModel)]="selectedRoleId">
        <option *ngFor="let role of roles" [ngValue]="role.id">{{role.name_text}}</option>
      </select>
    </div>
    <div class="m-2">
      <div>
        <h6>Имя пользователя</h6>
      </div>
      <select *ngIf="users" class="form-control m-1" [(ngModel)]="selectedUserId">
        <option *ngFor="let user of users" [ngValue]="user.id">{{user.name_text}}</option>
      </select>
    </div>
  </div>
  <div class="app-modal-footer row">
    <div class="col" align="left">
      <button class="btn btn-default" (click)="addParticipant()">Пригласить</button>
    </div>
    <div class="col" align="right">
      <button class="btn btn-default" (click)="hide()">Отмена</button>
    </div>
  </div>
</app-modal>
