<app-modal [(visible)]="visible">
  <div class="app-modal-header d-flex m-2">
    <h4 class="modal-title"> Редактировать глоссарий </h4>
    <button type="button" class="close" (click)="hide()">&times;</button>
  </div>
  <div class="app-modal-body">
    <app-glossary-editable-details [glossary]="glossaryEditable" [triggerLoading]="visible"></app-glossary-editable-details>
  </div>
  <div class="app-modal-footer">
    <button class="btn btn-success m-1" (click)="submit()" [disabled]="glossaryEditable.name_text == null || glossaryEditable.name_text.length == 0 || glossaryEditable.locales_Ids.length == 0 || glossaryEditable.localization_Projects_Ids.length == 0">
      Сохранить </button>
    <button class="btn btn-primary" (click)="hide()"> Отмена </button>
  </div>
</app-modal>
