<h1>Ресурсы</h1>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="col-sm-1"></div>

  <div class="collapse navbar-collapse navbar-light" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item btn">
        <button type="button" class="btn btn-create btn-secondary" routerLink='/'> Словари </button>
      </li>
    </ul>
  </div>

  <div class="col-sm-1"></div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="col-sm-1"></div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item btn">
        <button type="button" class="btn btn-create"> Создать глоссарий</button>
      </li>

      <li class="nav-item btn">
        <button type="button" class="btn btn-secondary"> Очистить </button>
      </li>

      <li class="nav-item btn">
        <a class="nav-link" id="DeleteGlossaries" role="button" aria-haspopup="true" class="bg-secondary">
          <img src="../assets/icons/main/bin.png" width="20" height="30" class="d-inline-block align-li" alt="Удалить">
        </a>
      </li>

    </ul>
  </div>

  <div class="col-sm-1"></div>
</nav>



<!--////-->

<table>
  <thead>
    <tr><th>Имя словаря</th><th>Языки</th><th colspan="2">Проекты</th></tr>
  </thead>
  <tbody>
    <tr *ngIf="glossaries.length == 0">
      <td colspan="4">Создайте глоссарий</td>
    </tr>
    <tr *ngFor="let glossary of glossaries">
      <td>{{glossary.name}}</td>
      <td>{{glossary.localesName}}</td>
      <td>{{glossary.localizationProjectsName}}</td>
      <td>
        <div class="dropdown">
          <a class="nav-link" role="button" aria-haspopup="true" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
            <mat-icon>drag_indicator</mat-icon>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item">Очистить от терминов</a>
            <a class="dropdown-item">Удалить глоссарий</a>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<!--////-->
<!--Не работает отображение через dataSource, работает через glossaries. Сортировка не работает.-->
<div class="example-container">

  <mat-table [dataSource]="dataSource" matSort> <!--<mat-table [dataSource]="glossaries" matSort>-->

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Имя словаря </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="localesName">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Языки </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.localesName}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="localizationProjectsName">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Проекты </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.localizationProjectsName}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="additionalButtons">
    <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
    <mat-cell *matCellDef="let row">

      <div class="dropdown">
        <a class="nav-link" role="button" aria-haspopup="true" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
          <mat-icon>drag_indicator</mat-icon>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item">Очистить от терминов</a>
          <a class="dropdown-item">Удалить глоссарий</a>
        </div>
      </div>

    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;">
  </mat-row>
</mat-table>

</div>
