<form class="settings_proj">
  <div class="form-group">
    <label for="NamePojectLabl">Название проекта</label>
    <input type="text" class="form-control" id="exampleInputNameProj" aria-describedby="ProjNameHelp" placeholder="" value='{{currentProjectName}}'>

  </div>
  <div class="form-group">
    <label for="DescribeFormControlTextarea">Описание проекта</label>
    <textarea class="form-control" id="DescribeFormControlTextarea" rows="3"></textarea>
  </div>

  <label class="form-check-label" for="PrivatLabl">
    Приватность
  </label>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios" id="PulictLabl" value="option1" checked>
    <label class="form-check-label" for="PulictLabl">
      Public project
    </label>
    <small id="nameHelp" class="form-text text-muted">Visible to anyone</small>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios" id="PrivatLabl" value="option2">
    <label class="form-check-label" for="PrivatLabl">
      Private project
    </label>
    <small id="nameHelp" class="form-text text-muted"> Visible only to the invited project members</small>
  </div>


  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="CheckSettings">
    <label class="form-check-label" for="CheckSettings">Переводчики могут загружать файлы для перевода из проекта</label>
    <small id="nameHelp" class="form-text text-muted">Позволяет переводчикам загружать файлы из проекта на свой компьютер для перевода офлайн. Вы, как владелец/менеджер проекта, всегда можете загружать эти файлы.</small>
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="CheckSettings">
    <label class="form-check-label" for="CheckSettings">Пропускать непереведенные строки</label>
    <small id="nameHelp" class="form-text text-muted">
      Если отмечено, то строки без перевода не будут включены в экспортируемый файл.
      Эта функция не будет применена к текстовым документам:*.docx, *.pptx,*.xlsx и т.д. во избежание ошибок в переведенных файлах.
    </small>
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="CheckSettings">
    <label class="form-check-label" for="CheckSettings">Экспортировать только утвержденные переводы</label>
    <small id="nameHelp" class="form-text text-muted">
      Будут экспортированы только утвержденные переводы. Утверждение переводов потребует дополнительных усилий от ваших переводчиков\корректоров.
    </small>
  </div>

  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="CheckSettings">
    <label class="form-check-label" for="CheckSettings">Уведомлять менеджеров проекта о новых строках</label>
  </div>
  <div class="form-group form-check">
  <button mat-raised-button color="primary" style="width: 15rem;" (click)="addProject($event)">Сохранить проект</button>
  <button mat-raised-button color="primary" style="width: 15rem;" (click)="addProject($event)">Удалить проект</button>
</div>
</form>

<router-outlet></router-outlet>
