.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.col-10 {
  padding: 0em;
  font-size: 0.8em
}

.appendedImage {
  width: 100%;
}

.imageBlock {
  cursor: pointer;
  margin-right: 5%;
  border-radius: 15%;
  border-color: #4430ffea;
  border-width: 2px;
  border-style: dashed;
}
