.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.col-10{
  padding: 0em;
  font-size: 0.8em
}
