
<form [formGroup]="formGroup" novalidate (ngSubmit)="submit()">

  <h3>Авторизация</h3>

  <div class="alert alert-danger"
       *ngIf="formGroup.invalid && formGroup.errors?.login">
    Вы ввели неверное имя пользователя/email или неверный пароль
  </div>

  <div class="form-group">
    <label>Email или имя пользователя</label>
    <input class="form-control"
           name="login"
           formControlName="nameFormControl"
           [class.ng-touched.ng-invalid]="formGroup.invalid" />

    <div class="alert alert-danger"
         *ngIf="formGroup.controls['nameFormControl'].invalid && formGroup.controls['nameFormControl'].touched && formGroup.controls['nameFormControl'].errors?.required">
      Поле обязательно для заполнения
    </div>
  </div>

  <div class="form-group">
    <label>
      Пароль
    </label>
    <mat-icon (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    <a class="float-right green"
       routerLink='/account/recover-password'>
      Забыли пароль?
    </a>
    <input class="form-control"
           [type]="hidePassword ? 'password' : 'text'"
           name="password"
           formControlName="passwordFormControl" />

    <div class="alert alert-danger"
         *ngIf="formGroup.controls['passwordFormControl'].invalid && formGroup.controls['passwordFormControl'].touched && formGroup.controls['passwordFormControl'].errors?.required">
      Поле обязательно для заполнения
    </div>
  </div>

  <div class="form-group">
    <button class="btn m-1"
            [class.btn-success]="formGroup.valid"
            [class.btn-primary]="formGroup.invalid"
            type="submit"
            [disabled]="formGroup.invalid">
      ВХОД
    </button>
  </div>
  
  <div class="form-group">
    <button class="btn btn-success m-1"
            routerLink='/account/registration'>
      РЕГИСТРАЦИЯ НОВОГО ПОЛЬЗОВАТЕЛЯ
    </button>
  </div>

  <div class="form-group">
    <button class="btn btn-primary"
            routerLink=''>
      ОТМЕНА
    </button>
  </div>

  <!--<div class="form-group">
    <button class="btn btn-secondary" (click)="getUserInfo()">
      ПОЛУЧИТЬ ИНФОРМАЦИЮ ПОЛЬЗОВАТЕЛЯ
    </button>
  </div>-->

</form>
