<div class="container-fluide">
  <div class="row">
    <div class="col-sm-2">
      <img src="../../assets/svg/011-user.svg" alt="" class="img-thumbnail mx-auto d-block">
      <span style="font-weight:600">Имя пользователя:{{currentUserName}}</span><br>
      <span style="font-weight:600">Языки:</span><br>
    </div>

    <div class="col-sm-10">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
             aria-selected="true">Разделы</a>
        </li>


      </ul>
      <div class="tab-content" id="myTabContent">

        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <table mat-table [dataSource]="fundsArr" style="width: 100%">
            <ng-container matColumnDef="fundName">
              <td mat-cell *matCellDef="let fund">
                <a class="nav-link" (click)="getPickedFund(fund)" role="button" aria-haspopup="true" routerLink='/Fund/{{ fund.id }}'>
                  {{fund.name_text}}
                </a>
              </td>
            </ng-container>
            <ng-container matColumnDef="changed">
              <td mat-cell *matCellDef="let fund"> {{fund.changed}} </td>
            </ng-container>
            <ng-container matColumnDef="settings">
              <td mat-cell *matCellDef="let fund">
                <button class="btn btn-sm btn-primary" (click)="editFund(fund)">Изменить</button>

                <a class="nav-link" (click)="getPickedFund(fund)" role="button" aria-haspopup="true" routerLink='/Fund/{{ fund.id }}'>
                  <mat-icon>Редактировать</mat-icon>
                </a>
              </td>
            </ng-container>
            <ng-container matColumnDef="fundMenu">
              <td mat-cell *matCellDef="let fund; let i = index">
                <div class="dropdown">
                  <a class="nav-link" role="button" aria-haspopup="true" id="dropdownMenuButton" data-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="false">
                    <mat-icon>drag_indicator</mat-icon>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" routerLink='/Fund/{{ fund.id }}'>Удалить раздел</a>
                  </div>
                </div>
              </td>
            </ng-container>
            <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
          </table>
        </div>

        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
      </div>
    </div>
  </div>
</div>
