<div class="container-fluide">
  <div class="row">
    <div class="col-sm-2">
      <img src="../../assets/svg/011-user.svg" alt="" class="img-thumbnail mx-auto d-block">
      <span style="font-weight:600">Имя пользователя:{{currentUserName}}</span><br>
      <span style="font-weight:600">Языки:</span><br>
    </div>

    <div class="col-sm-10">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
             aria-selected="true">Проекты</a>
        </li>

<!--//TODO отключил пока не сделали
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
             aria-selected="false">Активность</a>
        </li>
-->
      </ul>
      <div class="tab-content" id="myTabContent">

        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <table mat-table [dataSource]="projectsArr" style="width: 100%">
            <ng-container matColumnDef="projectName">
    		<td mat-cell *matCellDef="let project"> 
                 <a class="nav-link" (click)="getPickedProject(project)" role="button" aria-haspopup="true" routerLink='/Translation_project/{{ project.id }}'>                    
			{{project.name_text}} 
		</a>
		</td>
            </ng-container>
            <ng-container matColumnDef="changed">
              <td mat-cell *matCellDef="let project"> {{project.changed}} </td>
            </ng-container>
            <ng-container matColumnDef="settings">
              <td mat-cell *matCellDef="let project">
                <a class="nav-link" (click)="getPickedProject(project)" role="button" aria-haspopup="true" routerLink='/Projects/{{ project.id }}'>
                  <mat-icon>settings</mat-icon>
                </a>
              </td>
            </ng-container>
            <ng-container matColumnDef="projectMenu">
              <td mat-cell *matCellDef="let project; let i = index">
                <div class="dropdown">
                  <a class="nav-link" role="button" aria-haspopup="true" id="dropdownMenuButton" data-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="false">
                    <mat-icon>drag_indicator</mat-icon>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" routerLink='/Projects/{{ project.id }}'>Удалить проект</a>
                  </div>
                </div>
              </td>
            </ng-container>
            <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
          </table>
        </div>

        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
      </div>
    </div>
  </div>
</div>
