td.mat-cell:last-of-type {
    padding-right: 0px;
}

td.mat-cell {
    text-align: right;
}

td.mat-cell:first-of-type {
    text-align: left;
    width: 75%;
}

.mat-icon {
    color: grey;
}

.nav.nav-tabs {
    background-color: #F9F9F8;
}

.nav-tabs {
    border: 1px solid #dee2e6;
    border-radius: 4px;
}

.nav-tabs .nav-link.active {
    background-color: #E6E7E4;
}

.nav-item a {
   color: black; 
}