<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <div *ngIf='selectedGlossary'>{{selectedGlossary.name}}</div>
    <div *ngIf='!selectedGlossary'>Выберите глоссарий</div>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <button *ngFor="let glossary of glossaries" class="dropdown-item" (click)='selectGlossary(glossary)'>{{glossary.name}}</button>
  </div>
</div>
<div class="row">
  <div class="col btn-group">
    <button class="btn">Отправить</button>
    <button class="btn">Скачать</button>
    <button class="btn">Добавить термин</button>
    <button class="btn">Удалить</button>
  </div>
  <div class="col"></div>
  <div class="col btn-group">
    <button class="btn">Следующая страница</button>
    <button class="btn">Предыдущая страница</button>
  </div>
</div>
<div class="row">
  <div class="col">
    <input type="text" class="form-control" placeholder="Искать термин" />
  </div>
  <div class="col"></div>
  <div class="col">
    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" value="">Переводить глоссарий
      </label>
    </div>
  </div>
</div>
<div class="col">
  <app-glossary-terms [glossary]="selectedGlossary"></app-glossary-terms>
</div>
