<div class="m-3">
  <div class="dropdown m-2">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <div *ngIf='selectedGlossary'>{{selectedGlossary.name}}</div>
      <div *ngIf='!selectedGlossary'>Выберите глоссарий</div>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <button *ngFor="let glossary of glossaries" class="dropdown-item" (click)='selectGlossary(glossary)'>{{glossary.name}}</button>
    </div>
  </div>
  <div class="row m-2">
    <div class="col">
      <div class="btn-group">
        <button class="btn btn-primary">Отправить</button>
        <button class="btn btn-primary">Скачать</button>
      </div>
      <button class="btn btn-primary m-2" data-toggle="modal" data-target="#myModal">Добавить термин</button>
      <button class="btn btn-primary">Удалить</button>
    </div>
    <div class="modal" id="myModal">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Добавить термин</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <label>Термин</label>
            <input type="text" class="form-control" />
            <label>Часть речи</label>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div *ngIf='selectedPartOfSpeech'>{{selectedPartOfSpeech.name}}</div>
                <div *ngIf='!selectedPartOfSpeech'>Не выбрано</div>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <button *ngFor="let partOfSpeech of PartsOfSpeech" class="dropdown-item" (click)='selectPartOfSpeech(partOfSpeech)'>{{partOfSpeech.name}}</button>
              </div>
            </div>
            <label>Описание</label>
            <input type="text" class="form-control" />
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary m-1">Добавить</button>
            <button class="btn btn-primary" data-dismiss="modal">Отмена</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col d-flex justify-content-end">
      <ul class="pagination">
        <li class="page-item"><a class="page-link">Предыдущая страница</a></li>
        <li class="page-item"><a class="page-link">Следующая страница</a></li>
      </ul>
    </div>
  </div>
  <div class="row m-2">
    <div class="col">
      <input type="text" class="form-control" placeholder="Искать термин" />
    </div>
    <div class="col d-flex justify-content-end">
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="">Переводить глоссарий
        </label>
      </div>
    </div>
  </div>
  <div class="col m-2">
    <app-glossary-terms [glossary]="selectedGlossary"></app-glossary-terms>
  </div>
</div>
