.headerSortDown:after,
.headerSortUp:after {
  content: ' ';
  position: relative;
  left: 2px;
  border: 8px solid transparent;
}

.headerSortDown:after {
  top: 10px;
  border-top-color: silver;
}

.headerSortUp:after {
  bottom: 15px;
  border-bottom-color: silver;
}

.headerSortDown,
.headerSortUp {
  padding-right: 5px;
}


.table {
  font-size: 0.8rem;
}

table td, table th
{
    padding: 2px;
}

table th
{
  text-align : justify;
}

.col-xs-6, {
  width : 10vw;
}

.col-xs-2{
  width : 1vw;
}

.col-1{
 width : 2rem;
}
.col-2{
 width : 35%;
}
.col-3{
 width : 20%;
}
