<app-modal [(visible)]="visible">
  <div class="app-modal-header d-flex m-2">
    <h4 class="modal-title"> Создать память переводов </h4>
    <button type="button" class="close" (click)="hide()">&times;</button>
  </div>
  <div class="app-modal-body">
    <app-translation-memory-editable-details [translationMemory]="newTranslationMemory" [triggerLoading]="visible"></app-translation-memory-editable-details>
  </div>
  <div class="app-modal-footer">
    <button class="btn btn-success m-1"
            (click)="submit()"
            [disabled]="newTranslationMemory.name_text == null || newTranslationMemory.name_text.length == 0 || newTranslationMemory.localization_projects_ids.length == 0"> <!--newTranslationMemory.locales_ids.length == 0 ||-->
      Создать
      </button>
    <button class="btn btn-primary"
            (click)="hide()">
       Отмена
    </button>
  </div>
</app-modal>
