<app-modal [(visible)]="visible">
  <div class="app-modal-header d-flex m-2">
    <h4 class="modal-title">Удалить термины</h4>
    <button type="button" class="close" (click)="hide()">&times;</button>
  </div>
  <div class="app-modal-body">
    <p>Вы действительно хотите удалить выбранные термины?</p>
  </div>
  <div class="app-modal-footer">
    <button class="btn btn-primary m-2" (click)="confirmDeleteTerms()">Удалить</button>
    <button class="btn btn-primary m-2" (click)="hide()">Отмена</button>
  </div>
</app-modal>
