<div>
  <section>
    <mat-checkbox [(value)]="cleanTableBeforeImportFlag">Очистить таблицу</mat-checkbox>
    <button mat-raised-button (click)="selectFile.click()">
      Выбрать файл
      <input #selectFile type="file" style="display: none;" (change)="fileSelected($event)">
    </button>
    <mat-form-field>
      <mat-select placeholder="Тип данных" [(ngModel)]="selectedDataType">
        <mat-option *ngFor="let dataType of dataTypes" [value]="dataType">
          {{dataType.displayName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button (click)="beginImport()">Импорт</button>
  </section>
  <mat-form-field>
    <textarea matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="4"
              cdkAutosizeMaxRows="20"
              placeholder="Лог"
              ></textarea>
  </mat-form-field>
</div>
