<div class="languagesBlock" *ngIf="checkPhrase()">

  <div class="languagesOptionsBlock">
    <nav>
      <div class="nav nav-tabs" id="tabLanguageOptionsList" role="tablist">
        <a class="nav-item nav-link active" id="nav-offers-tab" data-toggle="tab" href="#nav-offers" role="tab"
          aria-controls="nav-offers" aria-selected="true">Предложения перевода</a>
<!--        <a class="nav-item nav-link" id="nav-otherLang-tab" data-toggle="tab" href="#nav-otherLang" role="tab"
          aria-controls="nav-otherLang" aria-selected="false">Другие языки</a>
-->
        <a class="nav-item nav-link" id="nav-memorySearch-tab" data-toggle="tab" href="#nav-memorySearch" role="tab"
          aria-controls="nav-memorySearch" aria-selected="false">Поиск по памяти</a>
      </div>
    </nav>
  </div>

  <div class="actionsBlock">
    <div class="tab-content" id="nav-tabContent">

      <div class="tab-pane fade show active" id="nav-offers" role="tabpanel" aria-labelledby="nav-offers-tab">
        <div *ngIf="checkNumberOfTranslations()">
          <hr>
          <div class="labelSimilarTranlsations ml-5">Переводы</div>
          <hr>

          <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-action" *ngFor="let translation of listOfTranslations">
              <div (click)="chooseTranslationFromCurrentTranslations(translation)">
                <div class="row" >
                  <div class="col-sm-11 align-self-start translatedText">{{translation.translated}}</div>
                </div>
                <div class="row">
                  <div class="col-sm-5 userLogin">
	  		<img class="userIcon" src="../../../assets/svg/011-user.svg">
                    {{ translation.user_Name }}
                  </div>
                  <div class="col-sm-3 col-4">{{translation.dateTime | date: 'dd.MM.yyyy HH:mm'}}</div>

  
                  <div class="col-sm-1"><input type="checkbox" class="form-check-input"
                      [(ngModel)]="translation.confirmed" (change)="changeTranslation(translation)">
                  </div>
                  <div class="col-sm-1">
                    <div *ngIf="!finalTranslationSelected || translation.selected">
                      <div *ngIf="checkAccessToSelectTranslation()"> <input type="checkbox" class="form-check-input"
                          [(ngModel)]="translation.selected" (change)="changeSelectedTranslation(translation)"> </div>
                    </div>
                  </div>
                    <div *ngIf="!translation.selected && !translation.confirmed"  class="col-sm-1"><img
                        (click)="deleteTranslateClick(translation.id)" class="utilitiesIcon"
                        src="../../../assets/icons/main/bin.png">
                  </div>
                </div>
              </div>              
            </li>
          </ul>
        </div>
        <div *ngIf="!checkNumberOfTranslations()">
          <div class="translationsEmpty">
            Переводов данной фразы не было предложено
          </div>
        </div>
        <div *ngIf="checkNumberOfSimilarTranslations()">
          <hr>
          <div class="labelSimilarTranlsations ml-5">Память переводов</div>
          <hr>
          <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-action"
              *ngFor="let similarTranslation of listOfSimilarTranslations">
              <div class="row offersBlock" (click)="chooseClickedTranslation(similarTranslation)">
                <div class="col-12 ">
                  <div class="align-self-start translatedText">
                    {{similarTranslation.translation_variant}}
                  </div>
                  <div class="align-self-start labelSimilarTranlsations">
                    {{similarTranslation.translation_text}}
                  </div>
                  <div class="align-self-end translationInfo">
                    <div class="row">
                      <div class="col-6">File: {{similarTranslation.file_owner_name}}</div>
                      <div class="col-6 userLogin">Процент совпадения: {{similarTranslation.similarity |
                        percent }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
          <hr>
          <div class="labelSimilarTranlsations ml-5">Варианты перевода с других языков</div>
          <hr>

        <div *ngIf="!checkNumberOfTranslationsInOtherLanguages()">
          <div class="otherLanguages">Варианты перевода с других языков отсутсвуют </div>
        </div>
        <div *ngIf="checkNumberOfTranslationsInOtherLanguages()">
          <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-action"
              *ngFor="let translation of listOfTranslationsInOtherLanguages">
              <div (click)="chooseClickedTranslation(translation)">
                <div>{{translation.translation_variant}}</div>
                <div class="fileDescription">{{translation.locale_name_text}}</div>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="tab-pane fade" id="nav-memorySearch" role="tabpanel" aria-labelledby="nav-memorySearch-tab">
        <div class="searchByMemory">
          <div class="container align-center">
            <div class="row">
              <form class="col-11">
                <div class="mb-1">
                  <input type="text" name="searchByMemoryText" [(ngModel)]="searchByMemoryText"
                    class="form-control input-lg" placeholder="Поиск по памяти переводов ..."
                    (keyup)="onEnterPressByMemory($event)">
                </div>
              </form>
              <div class="col-1 float-right align-center arrowIcon">
                <mat-icon (click)="searchByMemory()">search</mat-icon>
              </div>
            </div>
          </div>
          <div *ngIf="checkNumberOfTranslationsByMemory()">
            <ul class="list-group list-group-flush">
              <li class="list-group-item list-group-item-action" *ngFor="let translationByMemory of listOfTranslationsByMemory">
                <div (click)="chooseClickedTranslation(translationByMemory)">
                  <div>{{translationByMemory.translation_text}}</div>
                  <div>{{translationByMemory.translation_variant}}</div>
                  <div class="fileDescription">{{translationByMemory.file_owner_name}}</div>
                </div>
              </li>
            </ul>
          </div>
          <div *ngIf="!checkNumberOfTranslationsByMemory()">
            <div class="translationsEmpty">
              Переводов данной фразы в данном проекте локализации не обнаружено
            </div>
          </div>
        </div>
      </div>

      <div>
      </div>

    </div>
