.languagesBlock {}

.languagesOptionsBlock {}

.languagesOptionsBlock a {}

.offersBlock {}


.list-group-item {}

.userIcon {
  width: 1.2rem;
  height: 1.2rem;
}

.userLogin {
  color: #A4BF82;
}

.translatedText {
  font-size: 1em;
}

.translationInfo {}

.utilitiesIcon {
  width: 1.2rem;
  height: 1.2rem;
  cursor: pointer;
}

.translationsEmpty {
    text-align: center;
    color: gray;
    padding: 12vh;
    font-size: 1em;
}

.otherLanguages {
    text-align: center;
    color: gray;
    padding: 12vh;
    font-size: 1em;
}

.searchByMemory {
    padding: 15px;
    text-align: justify;
    color: gray;
    font-size: 1em;
}

.form-check-input {
  width: 0.8rem;
  height: 0.8rem;
  bottom: 0.6em;
}

.fileDescription {
  color: gray;
  font-size: 0.8em;
}

.labelSimilarTranlsations {
  color: gray;
  font-size: 0.8em;
  margin-left: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}


.col-6{
  font-size: 0.8rem;
}
.userLogin
{
  font-size: 0.8rem;

}


.arrowIcon {}

.align-center {}

.mat-icon {
  color: grey;
}

.col-4 {
  font-size: 0.8rem;
}

.col-6 {
  font-size: 0.8rem;
}
