<app-modal [(visible)]="visible">
  <div class="app-modal-header d-flex m-2">
    <h4 class="modal-title"> Привязать ПП к проекту </h4>
    <button type="button" class="close" (click)="hide()">&times;</button>
  </div>
  <div class="app-modal-body">

    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th (click)="requestSortBy('selected')"
            [class.headerSortUp]="isSortingAscending && lastSortColumnName == 'selected'"
            [class.headerSortDown]="!isSortingAscending && lastSortColumnName == 'selected'"
            class="col-xs-2">
          <input type="checkbox" class="checkbox" [ngModel]="isAllSelected" (change)="allSelected()">
        </th>
        <th (click)="requestSortBy('name_text')"
            [class.headerSortUp]="isSortingAscending && lastSortColumnName == 'name_text'"
            [class.headerSortDown]="!isSortingAscending && lastSortColumnName == 'name_text'"
            class="col-xs-6">
          Память переводов
        </th>
      </tr>
      </thead>

      <tr *ngFor="let translationMemory of dataSource">
        <td class="col-xs-2">
          <input type="checkbox" class="checkbox" [(ngModel)]="translationMemory.isSelected">
        </td>
        <td class="col-xs-6">{{translationMemory.model.translationMemory_name_text}}</td>
      </tr>
    </table>

    </div>
  <div class="app-modal-footer">
    <button class="btn btn-success m-1 btn-sm" (click)="submit()"> Сохранить </button>
    <button class="btn btn-primary btn-sm" (click)="hide()"> Отмена </button>
  </div>
</app-modal>
