.webSiteLogo a {
    color: #F6F5F1;
    font-size: 24px;
}

.leftUl a {
    color: gray;
    font-size: 1.4rem;
}

.rightUl a {    
    color: gray;
    font-size: 1.4rem;
    padding-left: 50px;        
}

.iconLi {
    width: 30px;
    height: 30px;
    margin-top: 7px;
    margin-left: 2.5ch
}