<h6 *ngIf="glossaryLocale" class="m-1">{{glossaryLocale.name}}</h6>
<label class="m-1">Термин</label>
<input class="form-control m-1" [(ngModel)]="term.value" type="text" />
<label class="m-1">Часть речи</label>
<select class="form-control m-1" [(ngModel)]="term.partOfSpeechId">
  <option [value]="null">Не выбрано</option>
  <option *ngFor="let partOfSpeech of partsOfSpeech" [ngValue]="partOfSpeech.id">{{partOfSpeech.name}}</option>
</select>
<label class="m-1">Описание</label>
<textarea style="resize:none" class="form-control m-1" [(ngModel)]="term.description" rows="4"></textarea>
