<div style="text-align:center" *ngIf="project">
  <h1>
    Проект {{project.name_text}}
  </h1>
</div>
<form [formGroup]="settings_proj"
      name="formName"
      *ngIf="loaded">

  <div class="form-group row">
    <label for="" class="col-3 col-form-label">Название проекта:</label>
    <div class="col-9" style="padding-left: 0px;">
      <mat-form-field class="txt-form-field">
        <input matInput type="text" [(ngModel)]="project.name_text" [ngModelOptions]="{standalone: true}">
        <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
  <div class="form-group row">
    <label for="" class="col-3 col-form-label">Описание проекта:</label>
    <div class="col-9" style="padding-left: 0px;">
      <mat-form-field class="txt-form-field">
        <input matInput type="text" [(ngModel)]="project.description" [ngModelOptions]="{standalone: true}">
        <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
  <div class="form-group row">
    <label for="" class="col-3 col-form-label">Адрес проекта:</label>
    <div class="col-9" style="padding-left: 0px;">
      <mat-form-field class="txt-form-field">
        <input matInput type="text" [(ngModel)]="project.url" [ngModelOptions]="{standalone: true}">
        <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>

  <label class="form-check-label" for="PrivatLabl">
    Приватность
  </label>
  <div class="form-check">
    <mat-radio-group [(ngModel)]="project.visibility" name="currentProjectPublic" [ngModelOptions]="{standalone: true}" ng-checked="">
      <mat-radio-button name="PublicName" [value]="true">Виден всем пользователям</mat-radio-button>
      <small id="nameHelp" class="form-text text-muted">Visible to anyone</small>
      <mat-radio-button name="PrivateName" [value]="false">Виден только участникам</mat-radio-button>
      <small id="nameHelp" class="form-text text-muted"> Visible only to the invited project members</small>
    </mat-radio-group>
  </div>
  <div class="form-check">
    <mat-checkbox class="example-margin" [(ngModel)]="project.able_To_Download" id="FileName" name="FileName" [checked]="isChecked" [ngModelOptions]="{standalone: true}">
      <label class="form-check-label" for="">Переводчики могут загружать файлы для перевода из проекта</label>
    </mat-checkbox>

    <small id="nameHelp" class="form-text text-muted">
      Позволяет переводчикам загружать файлы из проекта на свой
      компьютер для перевода офлайн. Вы, как владелец/менеджер проекта, всегда можете загружать эти файлы.
    </small>
  </div>
  <div class="form-check">
    <mat-checkbox class="example-margin" [(ngModel)]="project.able_To_Left_Errors" name="ScipName" [ngModelOptions]="{standalone: true}">
      <label class="form-check-label" for="">Пропускать непереведенные строки</label>
    </mat-checkbox>

    <small id="nameHelp" class="form-text text-muted">
      Если отмечено, то строки без перевода не будут включены в экспортируемый файл.
      Эта функция не будет применена к текстовым документам:*.docx, *.pptx,*.xlsx и т.д. во избежание ошибок в
      переведенных файлах.
    </small>
  </div>
  <div class="form-check">
    <mat-checkbox class="example-margin" [(ngModel)]="project.export_only_approved_translations" name="ExportName" [ngModelOptions]="{standalone: true}">
      <label class="form-check-label" for="">Экспортировать только утвержденные переводы</label>
    </mat-checkbox>

    <small id="nameHelp" class="form-text text-muted">
      Будут экспортированы только утвержденные переводы. Утверждение переводов потребует дополнительных усилий от ваших
      переводчиков\корректоров.
    </small>
  </div>
  <div class="form-check">
    <mat-checkbox class="example-margin" [(ngModel)]="project.notify_New" name="PublicName" [ngModelOptions]="{standalone: true}">
      <label class="form-check-label" for="">Уведомлять менеджеров проекта о новых строках</label>
    </mat-checkbox>
  </div>

  <div class="form-group">
    <div>
      <label for="">Исходный язык</label>
    </div>
    <div>
      <select class="form-control" [(ngModel)]="project.iD_Source_Locale" [ngModelOptions]="{standalone: true}">
        <option *ngFor="let lang of allLocales" [value]="lang.id">{{lang.name_text}}</option>
      </select>
    </div>
    <div class="row">
      <div class="col">
        <label class="m-1"> Целевые языки: </label>
        <app-set-languages [availableLocales]="availableLocales" (selectedLocalesChanged)="setSelectedLocales($event)"></app-set-languages>
      </div>
    </div>
  </div>
  <div>
    <button mat-raised-button color="primary" style="width: 15rem;" (click)="save()">Сохранить проект</button>
  </div>
</form>
<!--<router-outlet></router-outlet>-->
