<!--<h6 *ngIf="newGlossary" class="m-1">{ {newGlossary.name}}</h6>-->
<label class="m-1"> Название глоссария </label>
<input class="form-control m-1" [(ngModel)]="newGlossary.name" type="text" /><!--[disabled]="!newGlossary.isEditable"-->
<label class="m-1"> Назначить глоссарий для следующих проектов: </label>
<!--<select class="form-control m-1" [(ngModel)]="newGlossary.localizationProjects">--><!--[disabled]="!newGlossary.isEditable"-->
  <!--<option [value]="null">Не выбрано</option>
  <option *ngFor="let localizationProject of localizationProjects" [ngValue]="localizationProject.id">{ {localizationProject.name}}</option>
</select>-->
<label class="m-1"> Целевые языки: </label> <!--// Убедиться что это тот самый компонент для работы с выбором языков. -->
<app-set-languages [availableLocales]="availableLocales" (selectedLocalesChanged)="setSelectedLocales($event)"></app-set-languages>
