/*mat-menu-content > .cdk-focused,
mat-menu-content > .cdk-mouse-focused
{
  border: 0px solid #dee2e6;
  border-radius: 0px;
  background-color: white;
}*/

.nav-border
{
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 2px;
  padding: 0em 0em 0em 0.7em;
}

.nav
{
  background-color: white;
  border: 0px;
  padding: 0em;
}

.nav-element
{
  background-color: white;
  border: 1px solid #dee2e6;
  border-radius: 2px;

  margin: 0em 0.5em 0em 0em;
}

.nav-element-gray
{
  color: black;
  background-color: #d8d8d8;

  margin: 0em;
  padding: 0.7em 0.7em 0.7em 0.7em;
  border: 0px;
  border-radius: 0px;
}

/*.btn-delete-icon
{
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 2px;
  padding: 0.4em 0.8em 0.4em 0.8em;
  width: 3em;
  height: 2em;
}*/

.table-border
{
  margin-top: 1em;
  border-top: 1px solid #dee2e6;
}

.table-cell
{
  color: black;
  font-size: medium;
  margin: 0em 0em 0em 0em;
}

.table {
  font-size: 14px;
}

table td, table th
{
  padding: 2px;
}

table th
{
  text-align : justify;
}

.col-xs-6
{
  width : 10vw;
}

.col-xs-2
{
  width : 1vw;
}

/*.mat-row.hovered {
  background: #eee;
}*/

.mat-row.selected {
  background: #999;
}
