<h1>Ресурсы</h1>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb nav-border">
    <li class="breadcrumb-item active nav-element-gray" aria-current="page"> Словари </li>
  </ol>
</nav>

<nav class="navbar navbar-expand nav">
  <ul class="navbar-nav nav">

    <li class="nav-item">
      <button class="btn nav-element" (click)="addGlossaryFormModal.show()"> Создать глоссарий </button>
      <app-add-glossary-form-modal #addGlossaryFormModal (newGlossarySubmitted)="addNewGlossary($event)"></app-add-glossary-form-modal>
    </li>

    <li class="nav-item">
      <button class="btn nav-element" (click)="getEditingGlossary()" [disabled]="!isSelectedGlossary"> Редактировать глоссарий </button>
      <app-edit-glossary-form-modal #editGlossaryFormModal *ngIf="isVisibleEditGlossaryFormModal" [glossary]="glossary" (editedGlossarySubmitted)="editedGlossary($event)"></app-edit-glossary-form-modal>
    </li>
    <!--<li class="nav-item">
      <button class="btn nav-element" (click)="editGlossaryFormModal.show()" [disabled]="!isSelectedGlossary"> Редактировать глоссарий </button>
      <app-edit-glossary-form-modal #editGlossaryFormModal *ngIf="isSelectedGlossary" [glossary]="glossary" (editedGlossarySubmitted)="editedGlossary($event)"></app-edit-glossary-form-modal>
    </li>-->

    <li class="nav-item">
      <button type="button" class="btn nav-element" (click)="getConfirmClear()" [disabled]="!isSelectedGlossary"> Очистить </button>
      <app-confirm-clear-glossary-of-terms #confirmClearGlossaryFormModal *ngIf="isSelectedGlossary" [glossary]="glossary" (confirmedClear)="clearGlossary($event)"></app-confirm-clear-glossary-of-terms>
    </li>

    <li class="nav-item">
      <button class="btn nav-element" (click)="getConfirmDelete()" [disabled]="!isSelectedGlossary">
        <img src="../assets/icons/main/bin.png" width="20" height="20" class="d-inline-block align-li" alt="Удалить">
      </button>
      <app-confirm-delete-glossary #confirmDeleteGlossaryFormModal *ngIf="isSelectedGlossary" [glossary]="glossary" (confirmedDelete)="deleteGlossary($event)"></app-confirm-delete-glossary>
    </li>

  </ul>
</nav>


<div class="table-border">

  <mat-table [dataSource]="dataSource" matSort>


    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> <label class="table-cell align-center"> Имя словаря </label> </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.model.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="localesName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> <label class="table-cell"> Языки </label> </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.model.localesName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="localizationProjectsName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> <label class="table-cell"> Проекты </label> </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.model.localizationProjectsName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="additionalButtons">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell><!--mat-sort-header-->
      <mat-cell *matCellDef="let row">

        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon>drag_indicator</mat-icon>
        </button>

      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <!--<mat-row *matRowDef="let row; columns: displayedColumns;">-->
    <mat-row *matRowDef="let row; columns: displayedColumns;"
             [ngClass]="{selected: row.isSelected}"
             (click)="selected(row)">
      <!--[ngClass]="{hovered: row.hovered, highlighted: row.highlighted}"-->
      <!--(click)="row.highlighted = !row.highlighted"-->
      <!--(mouseover)="row.hovered = true"
          (mouseout)="row.hovered = false"-->
    </mat-row>

  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="getEditingGlossary()"> Редактировать глоссарий </button>
  <button mat-menu-item (click)="getConfirmClear()"> Очистить от терминов </button>
  <button mat-menu-item (click)="getConfirmDelete()"> Удалить глоссарий </button>
</mat-menu>


<h4 *ngIf="!isDataSourceLoaded" class="alert alert-danger"> Невозможно подключиться к БД </h4>
